<%= render 'admin/admin_header' %>
<div class="row" >
<div class="item_index">
<div class="col-md-8 col-md-offset-2">
<h2>商品一覧画面</h2> <div class="pull-right" ><%= link_to image_tag('icon_22-1.jpg'), new_admin_item_path%></div>
<table class="table  table-inverse">
			<thead>
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>
            <tbody>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.id %></td>
					<td><%= link_to item.name,admin_item_path(item) %></td>
					<td><%= item.price %></td>
					<td><%= item.category.name %></td>
					<td><%= item.sell_status %></td>
				</tr>
				<% end %>
			</tbody>
</table>
</div>
</div>
</div>