<h2>商品 詳細画面</h2>
	<p>商品<%= @item.name %></p>
    <p>商品説明<%= @item.text %></p>
    <p>税込価格（税抜価格）<%= @item.price %>円</p>
    <p>販売ステータス<%= @item.sell_status %></p>
    <p><%= attachment_image_tag @item, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>