<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <table class="table table-hover table-inverse">
  <tbody>
   <tr>
    <td>名前</td>
    <td>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "name" %>
    </div>
    </td>
    <td>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "name" %>
    </div>
    </td>
   </tr>
   <tr>
    <td>フリガナ</td>
    <td>
    <div class="field">
      <%= f.label :last_name_kana %>
      <%= f.text_field :last_name_kana, class: "name" %>
    </div>
    </td>
    <td>
    <div class="field">
      <%= f.label :first_name_kana %>
      <%= f.text_field :first_name_kana, class: "name" %>
    </div>
    </td>
   </tr>
   <tr>
    <td>メールアドレス</td>
    <td>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, class: "email" %>
    </div>
    </td>
   </tr>
   <tr>
    <td>郵便番号（ハイフンなし）</td>
    <td>
    <div class="field">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, class: "postcode" %>
    </div>
    </td>
   </tr>
   <tr>
    <td>住所</td>
    <td>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, class: "address" %>
    </div>
    </td>
   </tr>
   <tr>
    <td>電話番号（ハイフンなし）</td>
    <td>
    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "phone_number" %>
    </div>
    </td>
   </tr>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  </tbody>
  </table>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
