<%= render 'admin/admin_header' %>
<div class="container">
<h2>注文詳細画面</h2>
<table class="table table-bordered">
	<tr>
		<td>購入者</td>
		<td><%= link_to @order.order_name, admin_user_path(@user) %></td>
	</tr>
	<tr>
		<td>配送先</td>
		<td><%= @order.postcode %><%= @order.address %><%= @order.order_name %></td>
	</tr>
	<tr>
		<td>支払い方法</td>
		<td><%= @order.postcode %></td>
	</tr>
	<tr>
		<td>注文ステータス</td>
	<td><%= form_with(model: @order, local: true, url: admin_order_path, method: :patch ) do |f| %>
	<%= f.select :order_status, [["入金待ち", "入金待ち"], ["入金確認", "入金確認"], ["制作中", "制作中"], ["発送準備中", "発送準備中"],["発送済み", "発送済み"]] %><br>
	<%= f.submit "更新", class: "btn btn-info"%></td>
    <% end %>
</tr>
</table>
<div class="row">
	<div class="col-xs-7">
		<table class="table table-bordered">
        <thead>
        	<tr>
        	  <th>商品</th>
        	  <th>単価（税込）</th>
        	  <th>数量</th>
        	  <th>小計</th>
        	  <th>制作ステータス</th>
        	</tr>
        </thead>
          <% @order_item.each do |o| %>
         <tr>
         	<td><%= o.item.name %></td>
         	<td><%= o.price %>円</td>
         	<td><%= o.count %>個</td>
          <td><%= o.price.to_i * o.count %>円</td>
          <td><%= form_with(model: o, local: true, url: admin_order_item_path(o.id), method: :patch) do |f| %>
          <%= f.select :make_status, [["着手不可", "着手不可"], ["制作待ち", "制作待ち"], ["制作中", "制作中"], ["制作完了", "制作完了"]] %><br>
	      <%= f.submit "更新", class: "btn btn-info"%></td>
          <% end %>
         </tr>
         <% end %>
      </table>
	</div>
<div class="col-xs-3">
<table class="table table-bordered">
		    	<tr>
		    		<th>商品合計</th>
		    		<td><%= @order.total_amount %></td>
		    	</tr>
		    	<tr>
		    		<th>送料</th>
		    		<td><%= 800 %></td>
		    	</tr>
		    	<tr>
		    		<th>請求金額</th>
		    		<td><%= @order.total_amount + 800 %></td>
		    	</tr>
</table>
</div>
</div>
