<!DOCTYPE html>
<html>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">

      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>もさもさ</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
            <li><%= link_to ' マイページ', user_path(current_user), class: 'glyphicon glyphicon-home home' %></li>
            <li><%= link_to ' 商品一覧', items_path, class: 'glyphicon glyphicon-user users' %></li>
            <li><%= link_to ' カート', carts_path, class: 'glyphicon glyphicon-book books' %></li>
            <li><%= link_to ' ログアウト', destroy_user_session_path, class: 'glyphicon glyphicon-log-out logout' %></li>
            <% else %>
            
            <li><%= link_to ' 商品一覧', items_path, class: 'glyphicon glyphicon-user users' %></li>
            <li><%= link_to ' ログイン', new_user_session_path, class: 'glyphicon glyphicon-log-out logout' %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>
    <!--ヘッダーの記述-->
    <div class="container">
      <p id="notice"><%= notice %></p> <!--デバイスでnotice設定されているので呼び出してるだけ-->

    </div>
  </body>
  </html>