<div class="col-xs-9">

	<h2>マイページ</h2>

  <h3>登録情報</h3> 
  <p><%= link_to "編集する", edit_user_path(user), class: "btn btn-block btn-default glyphicon" %></p>
	<table class="table table-hover table-inverse">
		<tbody>
			<tr>
				<td>氏名</td>
				<td><%= current_user.last_name,first_name %></td>
			</tr>
      <tr>
      	<td>カナ</td>
      	<td><%= current_user.last_name_kana,first_name_kana %></td>
      </tr>
      <tr>
      	<td>郵便番号</td>
      	<td><%= current_user.postcode %></td>
      </tr>
      <tr>
      	<td>住所</td>
      	<td><%= current_user.address %></td>
      </tr>
      <tr>
      	<td>電話番号</td>
      	<td><%= current_user.phone_number %></td>
      </tr>
      <tr>
      	<td>メールアドレス</td>
      	<td><%= current_user.email %></td>
      </tr>
		</tbody>
	</table>

	</div>