<%= render 'users/ura_header' %>
<div class="col-xs-9">



<p>
    <label>
        <h3>本当に退会しますか？<h3>
        <h4>退会すると、会員登録情報や</h4>
<h4>これまでの購入履歴が閲覧できなくなります。</h4>
<h4>退会する場合は、「退会する」をクリックしてください。</h4>


        <%= link_to "退会しない", edit_user_path,class: "btn btn-info" %>

        
    </label>
  </p>
  <%= form_for(@user) do |f| %>

        <%= f.hidden_field :user_status, value: "ura_withdraw" %>
				<%= f.submit '退会する' %>
  <% end %>
  
  
</div>