<%= render 'users/ura_header' %>
<h2>パスワード変更画面</h2>

<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>error occurrence</h3>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<table class="table table-hover table-inverse">
  <tbody>
   <tr>
    <td>新しいパスワード</td>
    <td>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    </td>
   </tr>
   <tr>
    <td>新しいパスワード再入力</td>
    <td>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    </td>
   </tr>
  </tbody>
</table>

<div class="actions">
	<%= f.submit "パスワード更新" %>
</div>
<% end %>