<%= render 'users/ura_header' %>
<h2>注文情報確認</h2>

<table  class="table table-bordered">
      <thead>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </tr>

	    </thead>
                  <tbody>
                    <% @cart.each do |cart| %>
                      <tr>
                        <td><%= cart.item.name %></td>
                        <td><%= cart.item.price %></td>
                        <td><%= cart.count %></td>
                        <td>¥<%= Cart.total_price %></td>
                      </tr>
                    <% end %>
                  </tbody>
</table>

<table>
		    	<tr>
		    		<th>送料</th>
		    		<td><%= 800 %></td>
		    	</tr>
		    	<tr>
		    		<th>商品合計</th>
		    		<td><%= Cart.total_price %></td>
		    	</tr>
		    	<tr>
		    		<th>請求金額</th>
		    		<td><%= Cart.total_price + 800 %></td>
		    	</tr>
</table>

<%= form_for(@order,url:orders_path,method: :post) do |f| %>
<h3>支払方法</h3>
<%= f.hidden_field :pay, :value => @order.pay %>
<%= @order.pay %>
<h3>お届け先</h3>
<%= f.hidden_field :postcode, :value => @order.postcode %><%= @order.postcode %><br>
<%= f.hidden_field :address, :value => @order.address %><%= @order.address %><br>
<%= f.hidden_field :order_name, :value => @order.order_name %><%= @order.order_name %><br>
<%= f.hidden_field :total_amount, :value => Cart.total_price %><%= @order.total_amount %><br>
<%= f.hidden_field :order_status, :value => "入金待ち" %>
<%= f.submit "購入を確定する" %><br>
<% end %>