<h1>ショッピングカート</h1>
<table class="table">
      <thead>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th></th>
            <th>小計</th>
        </tr>

      </thead>
                  <tbody>
                    <% @carts.each do |cart| %>
                      <tr>
                        <td><%= cart.item.name %></td>
                        <td><%= cart.item.price %></td>
                        <%= form_for(cart, url:cart_path(cart),method: :patch) do |f| %>
                        
                        <td><%= cart.count.to_i %></td>  
                        <td> 
                            <%= f.select :count,(1..50) %>
                            <%= f.submit "変更する"%>
                            <% end %>
                        </td>
                        
                        <td>¥<%= Cart.total_price %></td>
                        <td><%= link_to "削除する", cart_path(cart.id), method: :delete %></td>
                      </tr>
                    <% end %>
                  </tbody>
</table>


