ここ！<br>
<h1>ショッピングカート</h1>
<table class="table">
      <thead>
        <tr>
            <th>表品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>#</th>
        </tr>
      </thead>
      <tbody>
        <% @carts.each do |f| %>
        <tr>
          <td><%= f.name %></td>
          <td>
          <%= form_for(@cart, url: {controller: "carts", action: "update_item"}) do |f| %>
          
          <%= f.select :count, [@cart.count.to_i] %>
          </td>

          <td><%= f.submit '変更' %></td>
          <% end %>
          <td><%= link_to "削除する", cart_path(@cart_id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
        </tr>
      </tbody>
      <% end %>
</table>

