
<%= render 'users/ura_header' %>
<div class="container">
<div class="border" style="container">
	<div class="row">
		<div class="col-xs-2">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>
										<h5>ジャンル検索</h5>
									</th>
								</tr>
							</thead>
							<tbody>
								<% @categories.each do |category| %>
								<tr>
								<%if category.status == '有効'%>
									<th><%= link_to category.name, category_path(category)%></th>
								<% end %>
								</tr>

								<% end %>
							</tbody>
						</table>
		</div>
		<div class="col-xs-10">		
				<h2>商品一覧（全<%= @items.count %>件）</h2>
				  <div class="flex">
						  <% @items.each do |item| %>
							<div>
							  
											<%= attachment_image_tag(item, :profile_image, :fill, 80,
											80, format: 'jpeg', fallback: "no_image.jpg") %>
												<br><%= item.name %>
												<br>¥<%= item.price %>
							</div>
							<% end %>
					</div>
		</div>		
	</div>
	</div>
</div>




			
			</tbody>
</table>

