    <p><%= attachment_image_tag @item, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
    <p><%= @item.name %></p>
    <p><%= @item.text %></p>
    <p>¥<%= @item.price %>(税込)</p>
    
    
    
    
   
    <%= form_for @cart do |f| %>
    <%= f.label :count, "数量" %>
    <%= f.select :count, [1,2,3,4,5,6,7,8,9,10] %>
    <%= f.hidden_field :item_id, :value => @item.id %> 
    <%= f.submit "カートに追加", class: "btn btn-sm btn-p" %>
    <% end %>
    