
<%= render 'admin/admin_header' %>
<div class="col-md-8 col-md-offset-2">

<h2>ジャンル追加・一覧画面</h2>
<!-- form_for部分 -->
<%= form_for(@category,url: admin_categories_path(@category) ) do |f| %>
    <h4>ジャンル</h4>
    <%= f.text_field :name %>
    
    <%= f.radio_button :status, '有効' %>有効
    <%= f.radio_button :status, '無効' %>無効

    <%= f.submit '追加', class: "btn btn-primary" %>
<% end %>



<table class="table">
	<thead>
		<tr>
			<th>ジャンル</th>
			<th>状態</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |category| %>
		 <tr>
			<td><%= category.name %></td>
			<td><%= category.status %></td>
			<td><%= link_to "編集する", edit_admin_category_path(category), class: "btn btn-primary" %>
			</td>
		 </tr>
		<% end %>
	</tbody>
</table>
</div>