<h1>会員詳細</h1>
<p>顧客ID      <%= @user.id%><%=@user.user_status%></p>
<p>氏名        <%= @user.last_name%><%= @user.first_name%></p>
<p>フリガナ      <%= @user.last_name_kana%><%= @user.first_name_kana%></p>
<p>郵便番号    <%= @user.postcode%></p>
<p>住所        <%= @user.address%></p>
<p>電話番号    <%= @user.phone_number%></p>
<p>メールアドレス  <%= @user.email%></p>
<td><%= link_to '編集する', edit_admin_user_path(@user) %></td>
<td><%= link_to '注文履歴一覧を見る', admin_users_path %></td>