<!DOCTYPE html>
<html>
  <head>
    <title>Msec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body" >
  <div class="container">
    <%= yield %>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </body>
</html>
